// Automatically switch between light and dark mode:
$color-mode-type: media-query;
$carousel-control-color: black;

@import 'bootstrap/scss/bootstrap';
@import './search/style.scss';
@import './plugin/style.scss';
@import './components/components.scss';
@import './components/plugin-card.scss';
@import './components/plugin-documentation-link.scss';

// colors
:root body {
	--carousel-button-color: #c4d3e7;
	--bs-secondary-bg: #f4f3f3;

	@include color-mode(dark) {
		--bs-secondary-bg: #131212;
		--carousel-button-color: #8493a7;
	}
}

.plugin-description {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}

.plugin-category,
.plugin-recommended {
	border-radius: 12px;

	text-transform: capitalize;
	color: black;
	text-decoration: none;
}

.plugin-category {
	background-color: #ffe492;
}

.plugin-recommended {
	background-color: rgb(125, 247, 145);
}

main {
	padding-top: 20px;
}

.wrap {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.horizontal-scroll-wrapper {
	white-space: nowrap;
	overflow-x: scroll;
}

.flex-grow-2 {
	flex-grow: 2;
}

.navbar-brand img {
	height: 35px;
	max-width: 80vw;
}

.site-links {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	margin-bottom: 2px;

	& > a {
		border-radius: 1em;
		text-decoration: none;
		padding: 2px 8px;
		margin: 0px 2px;

		background-color: black;

		&.a-github {
			background-color: black;
		}

		&.a-discord {
			background-color: #007;
		}

		&.a-patreon {
			background-color: #700;
		}

		&.a-linkedin {
			background-color: #037;
		}

		color: white;
		&:hover {
			opacity: 0.8;
		}

		transition: 0.2s ease background-color;
	}
}

:target {
	// Prevents headers from being shown below the navabar
	// when scrolled to.
	// See comment below https://stackoverflow.com/q/10732690
	scroll-margin-top: 100px;
}
