.plugin-list-page {
	// Always show vertical scrollbars to prevent the page width from changing
	// when switching tabs.
	overflow-y: scroll;

	.plugin-section > .content {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	.most-popular-section {
		@include media-breakpoint-only(lg) {
			// Hide the 4th and later most popular on lg sized screens (causes
			// cards to fit the page width).
			//
			// There are 3 plugin cards by default on this screen size.
			.content > :nth-child(n + 4) {
				display: none;
			}
		}
	}
}

.nav {
	.home-tab-container {
		// Only show the home tab when it has focus (there's already a link
		// for this tab).
		height: 0px;
		width: 0px;
		overflow: hidden;

		&:focus-within {
			height: unset;
			width: unset;
		}
	}
}
