<!DOCTYPE html>
<html lang="en">

<head>
	<script>
		window.pageId = 'pluginDisplay';
	</script>
	{{> head-config}}
	<title>Joplin Plugins - {{plugin.name}}</title>

	{{!
		OpenGraph metadata. Note that double quotes should be used here -- Mustache escapes
		"s, but not 's.
	}}
	<meta property="og:title" content="Joplin Plugin: {{plugin.name}}"/>
	<meta property="og:description" content="{{plugin.description}}"/>
</head>

<body>
{{> navabar}}
<main>
	<div class="plugin-overview">
		<div class="flex-grow-1"></div>
		<img class="plugin-icon" src="{{plugin.assets.iconUri}}" alt="Plugin icon"/>
		<div class="plugin-page-header">
			<div class="pb-3">
				{{#plugin._recommended}}
					<span class="plugin-recommended me-2 badge text-black">Recommended</span>
				{{/plugin._recommended}}
			</div>
			
			<h1 class="card-title">{{plugin.name}}</h1>
			<div class="card-title pb-2">
				by
				<a
					href="./?search=author%3D%22{{plugin.author}}%22%20max-results%3D20"
					style="display: inline;"
					class="text-primary"
				>
					{{plugin.author}}
				</a>
			</div>

			<div class="categories">
				{{#plugin.categories}}
					<span class="plugin-category me-2 badge bg-secondary">{{.}}</span>
				{{/plugin.categories}}
			</div>
		</div>
		<div class="flex-grow-2"></div>
		<div class="download-link">
			<a href="{{&config.site}}/downloadPlugin.html?id={{plugin.id}}" class="btn btn-primary">Install Plugin</a>
		</div>
	</div>
	<div class="plugin-content">
		<div class="secondary-section">
			<div class="content" id="screenshots-container">
				<div id="raw-screenshots">
					{{#plugin.assets.screenshots}}
						<img src="{{uri}}" alt="{{label}}"/>
					{{/plugin.assets.screenshots}}
				</div>	

				<!-- See https://getbootstrap.com/docs/5.3/components/carousel/ -->
				<div id="screenshots-carousel" class="carousel slide">
					<button
						class="carousel-control-prev"
						type="button"
						data-bs-target="#screenshots-carousel"
						data-bs-slide="prev"
					>
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Previous</span>
					</button>
					<button
						class="carousel-control-next"
						type="button"
						data-bs-target="#screenshots-carousel"
						data-bs-slide="next"
					>
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Next</span>
					</button>							
				</div>
			</div>
		</div>
		<div class="section">
			<h3>Description</h3>
			<p class="card-text pb-4">{{plugin.description}}</p>
		</div>
		<div class="section">
			<h3>Additional Information</h3>
			<ul class="list-group list-group-flush text-break">
				<li class="list-group-item d-flex justify-content-between align-items-start">
					<div class="ms-2 me-auto">
						<div class="fw-bold">Author</div>
						{{plugin.author}}
					</div>
				</li>
				<li class="list-group-item d-flex justify-content-between align-items-start">
					<div class="ms-2 me-auto">
						<div class="fw-bold">Version</div>
						{{plugin.version}}
					</div>
				</li>
				<li class="list-group-item d-flex justify-content-between align-items-start">
					<div class="ms-2 me-auto">
						<div class="fw-bold">Minimal App Version</div>
						{{plugin.app_min_version}}
					</div>
				</li>
				<li class="list-group-item d-flex justify-content-between align-items-start">
					<div class="ms-2 me-auto">
						<div class="fw-bold">Downloads: This version</div>
						{{plugin.downloadCount}}
					</div>
				</li>
				<li class="list-group-item d-flex justify-content-between align-items-start">
					<div class="ms-2 me-auto">
						<div class="fw-bold">Last Updated</div>
						{{plugin.timeModified}}
					</div>
				</li>
				<li class="list-group-item d-flex justify-content-between align-items-start">
					<div class="ms-2 me-auto">
						<div class="fw-bold">Links</div>
						{{#plugin.repository_url}}
							<a href={{.}} style="display: block;"><i class="fa-solid fa-link"></i> Repository</a>
						{{/plugin.repository_url}}
						{{#plugin.homepage_url}}
							<a href={{.}} style="display: block;"><i class="fa-solid fa-link"></i> Homepage</a>
						{{/plugin.homepage_url}}
						{{^plugin.repository_url}}
							{{^plugin.homepage_url}}
								No links
							{{/plugin.homepage_url}}
						{{/plugin.repository_url}}
					</div>
				</li>
			</ul>
		</div>
		<div class="section">
			<h3 class="pb-3">
				About
			</h3>
			
			<div class="card-text pb-4" id="readme">{{&plugin.assets.readme}}</div>
		</div>
	</div>
</main>

{{> plugin-documentation-link}}

</body>

</html>

