<!DOCTYPE html>
<html lang="en">

<head>
	<script>
		window.pageId = 'pluginDisplay';
	</script>
	{{> head-config}}
	<title>Joplin Plugins - {{plugin.name}}</title>

	{{!
		OpenGraph metadata. Note that double quotes should be used here -- Mustache escapes
		"s, but not 's.
	}}
	<meta property="og:title" content="Joplin Plugin: {{plugin.name}}"/>
	<meta property="og:description" content="{{plugin.description}}"/>
</head>

<body>
{{> navabar}}
<main>
	<div class="plugin-overview">
		<div class="plugin-icon-container">
			<img class="plugin-icon" src="{{plugin.assets.iconUri}}" alt="Plugin icon"/>
		</div>
		<div class="plugin-page-header">
			<div class="pb-3">
				{{#plugin._recommended}}
					<span class="plugin-recommended me-2 badge text-black">Recommended</span>
				{{/plugin._recommended}}
			</div>
			
			<h1 class="card-title">{{plugin.name}}</h1>
			<div class="card-title pb-2">
				by
				<a
					href="./?search=author%3D%22{{plugin.author}}%22%20max-results%3D20"
					style="display: inline;"
					class="text-primary"
				>
					{{plugin.author}}
				</a>
			</div>

			<div class="categories">
				{{#plugin.categories}}
					<span class="plugin-category me-2 badge bg-secondary">{{.}}</span>
				{{/plugin.categories}}
			</div>
		</div>
		<div class="download-link-container">
			<a href="{{&config.site}}/downloadPlugin.html?id={{plugin.id}}" class="btn btn-primary">Install Plugin</a>
		</div>
	</div>
	<div class="plugin-content">
		<div class="secondary-section">
			<div class="content" id="screenshots-container">
				<div id="raw-screenshots">
					{{#plugin.assets.screenshots}}
						<img src="{{uri}}" alt="{{label}}"/>
					{{/plugin.assets.screenshots}}
				</div>	

				<!-- See https://getbootstrap.com/docs/5.3/components/carousel/ -->
				<div id="screenshots-carousel" class="carousel slide">
					<button
						class="carousel-control-prev"
						type="button"
						data-bs-target="#screenshots-carousel"
						data-bs-slide="prev"
					>
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Previous</span>
					</button>
					<button
						class="carousel-control-next"
						type="button"
						data-bs-target="#screenshots-carousel"
						data-bs-slide="next"
					>
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Next</span>
					</button>							
				</div>
			</div>
		</div>
		<div class="section">
			<h3>Description</h3>
			<p class="card-text pb-4">{{plugin.description}}</p>
		</div>
		<div class="section">
			<h3>Additional Information</h3>
			<table class="additional-information-table">
				<tbody>
					<tr><th>Author</th><td>{{plugin.author}}</td></tr>
					<tr><th>Version</th><td>{{plugin.version}}</td></tr>
					<tr><th>Minimum app version</th><td>{{plugin.app_min_version}}</td></tr>
					<tr><th>Downloads: This version</th><td>{{plugin.downloadCount}}</td></tr>
					<tr><th>Last updated</th><td>{{plugin.timeModified}}</td></tr>
					<tr>
						<th>Links</th>
						<td>
							<ul class="list-group list-group-flush text-break">
								{{#plugin.repository_url}}
									<li><a href={{.}} style="display: block;"><i class="fa-solid fa-link"></i> Repository</a></li>
								{{/plugin.repository_url}}
								{{#plugin.homepage_url}}
									<li><a href={{.}} style="display: block;"><i class="fa-solid fa-link"></i> Homepage</a></li>
								{{/plugin.homepage_url}}
							</ul>

							{{^plugin.repository_url}}
								{{^plugin.homepage_url}}
									No links
								{{/plugin.homepage_url}}
							{{/plugin.repository_url}}
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="section">
			<h3 class="pb-3">
				About
			</h3>
			
			<div class="card-text pb-4" id="readme">
				{{&plugin.assets.readme}}
			</div>
		</div>
	</div>
</main>

{{! Initializes screenshots and postprocesses the README }}
<script src="{{&config.site}}/bundle-plugin-page.js"></script>

{{> plugin-documentation-link}}

</body>

</html>

