<!DOCTYPE html>
<html lang="en">

<head>
	<script>
		window.pageId = 'pluginDisplay';
	</script>
	{{> head-config}}
	<title>Joplin Plugins - {{plugin.name}}</title>

	{{!
		OpenGraph metadata. Note that double quotes should be used here -- Mustache escapes
		"s, but not 's.
	}}
	<meta property="og:title" content="Joplin Plugin: {{plugin.name}}"/>
	<meta property="og:description" content="{{plugin.description}}"/>
</head>

<body>
{{> navabar}}
<main>
	<div class="container my-5">
		<div class="row">
			<!-- Main Section -->
			<div class="col-lg-8 col-12 py-2">
				<div class="card px-4 py-4 shadow" id="screenshots-container">
					<div class="card-body">
						<h3 class="pb-3">
							Screenshots
						</h3>

						<div id="raw-screenshots">
							{{#assets.screenshots}}
								<img src="{{uri}}" alt="{{label}}"/>
							{{/assets.screenshots}}
						</div>	

						<!-- See https://getbootstrap.com/docs/5.3/components/carousel/ -->
						<div id="screenshots-carousel" class="carousel slide">
							<button
								class="carousel-control-prev"
								type="button"
								data-bs-target="#screenshots-carousel"
								data-bs-slide="prev"
							>
								<span class="carousel-control-prev-icon" aria-hidden="true"></span>
								<span class="visually-hidden">Previous</span>
							</button>
							<button
								class="carousel-control-next"
								type="button"
								data-bs-target="#screenshots-carousel"
								data-bs-slide="next"
							>
								<span class="carousel-control-next-icon" aria-hidden="true"></span>
								<span class="visually-hidden">Next</span>
							</button>							
						</div>
					</div>
				</div>
				<div class="card px-4 py-4 shadow">
					<div class="card-body">
						<h5 class="pb-3">
							{{#plugin._recommended}}
								<span class="plugin-recommended me-2 badge text-black">Recommended</span>
							{{/plugin._recommended}}
							{{#plugin.categories}}
								<span class="plugin-category me-2 badge bg-secondary">{{.}}</span>
							{{/plugin.categories}}
						</h5>
						
						<h3 class="card-title">{{plugin.name}}</h3>
						<h3 class="card-title pb-4">
							By <div style="display: inline;" class="text-primary">{{plugin.author}}</div>
						</h3>
						
						<p class="card-text pb-4">{{plugin.description}}</p>
						<div class="row">
							<div class="col-lg-12 col-12">
								<a href="{{&config.site}}/downloadPlugin.html?id={{plugin.id}}" class="btn btn-primary w-100">Download Plugin</a>
							</div>
							{{! <div class="col-lg-6 col-12">
								<a href="#" class="btn btn-primary w-100">Get Plugin in Joplin</a>
							</div> }}
						</div>
					</div>
				</div>
				<div class="card px-4 py-4 shadow">
					<div class="card-body">
						<h3 class="pb-3">
							README
						</h3>
						
						<div class="card-text pb-4" id="readme">{{&assets.readme}}</div>
					</div>
				</div>
			</div>
			<!-- Info Section -->
			<div class="col-lg-4 col-12 py-2">
				<div class="card px-2 py-2 shadow">
					<div class="card-body">
						<ul class="list-group list-group-flush text-break">
							<li class="list-group-item d-flex justify-content-between align-items-start">
								<div class="ms-2 me-auto">
									<div class="fw-bold">Author</div>
									{{plugin.author}}
								</div>
							</li>
							<li class="list-group-item d-flex justify-content-between align-items-start">
								<div class="ms-2 me-auto">
									<div class="fw-bold">Version</div>
									{{plugin.version}}
								</div>
							</li>
							<li class="list-group-item d-flex justify-content-between align-items-start">
								<div class="ms-2 me-auto">
									<div class="fw-bold">Minimal App Version</div>
									{{plugin.app_min_version}}
								</div>
							</li>
							<li class="list-group-item d-flex justify-content-between align-items-start">
								<div class="ms-2 me-auto">
									<div class="fw-bold">Downloads: This version</div>
									{{plugin.downloadCount}}
								</div>
							</li>
							<li class="list-group-item d-flex justify-content-between align-items-start">
								<div class="ms-2 me-auto">
									<div class="fw-bold">Last Updated</div>
									{{plugin.timeModified}}
								</div>
							</li>
							<li class="list-group-item d-flex justify-content-between align-items-start">
								<div class="ms-2 me-auto">
									<div class="fw-bold">Links</div>
									{{#plugin.repository_url}}
										<a href={{.}} style="display: block;"><i class="fa-solid fa-link"></i> Repository</a>
									{{/plugin.repository_url}}
									{{#plugin.homepage_url}}
										<a href={{.}} style="display: block;"><i class="fa-solid fa-link"></i> Homepage</a>
									{{/plugin.homepage_url}}
									{{^plugin.repository_url}}
										{{^plugin.homepage_url}}
											No links
										{{/plugin.homepage_url}}
									{{/plugin.repository_url}}
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>

</body>

</html>

