<!DOCTYPE html>
<html lang="en">

<head>
	<script>
		window.pageId = 'download';
	</script>
	{{> head-config}}
	<title>Joplin Plugins - Download Instructions</title>

	<script src="{{config.site}}/bundle-downloadInstructionsPage.js"></script>
</head>

<body>
{{> navabar}}
<main>
	<div class="container">
		<nav aria-label="breadcrumb" class="breadcrumb-container">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="{{config.site}}"><i class="fas fa-home"></i> Home</a>
				</li>
				<li class="breadcrumb-item"><a id="current-category-nav-link" href="{{config.site}}/">All</a></li>
				<li class="breadcrumb-item"><a id="current-plugin-nav-link"></a></li>
				<li class="breadcrumb-item active" aria-current="page">Download</li>
			</ol>
		</nav>

		<div class="row">
			<!-- Main Section -->
			<div class="col-lg-8 col-12 py-2">
				<div class="card px-4 py-4 shadow">
					<div class="card-body">
						<h5>Download Instructions for <span id='plugin-title'></span></h5>
						<ol>
							<li>Open Joplin</li>
							<li>
								Navigate to settings (&ldquo;Tools > Options&rdquo;
								on Windows/Linux, &ldquo;Joplin > Settings&rdquo; on a Mac)
							</li>
							<li>Click on &ldquo;plugins&rdquo; in the sidebar.</li>
							<li>Search for &ldquo;<span id='plugin-title'>...</span>&rdquo;.</li>
							<li>Click <code>install</code>.</li>
						</ol>

						<p>
							If you know what you're doing, you can alternatively
							<a id='plugin-download-link'>
								download this plugin's <code>.jpl</code> file
							</a>. This method of installation, however, will <b>not</b>
							auto-update the plugin.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
		
</body>

</html>

