<!DOCTYPE html>
<html lang="en">

<head>
	{{> head-config}}
	<title>Joplin Plugins</title>
</head>

<body>
{{> navabar}}
<main>
	<div class="container">
		<div class="row gy-3">
			<!-- Tab selector -->
			<div class="col-lg-2 px-0">
				<div class="nav-list categry-nav">
					<h2>Categories</h2>
					<nav class="nav nav-pills" id="nav-tab" role="tablist">
						<button class="nav-link active" id="nav-all-tab" data-bs-toggle="tab" data-bs-target="#nav-all"
							type="button" role="tab" aria-controls="nav-all" aria-selected="false">All</button>
						{{#allPossibleCategories}}
							<button class="nav-link" id="nav-{{name}}-tab" data-bs-toggle="tab" data-bs-target="#nav-{{name}}"
								type="button" role="tab" aria-controls="nav-{{name}}" aria-selected="false">{{displayName}}</button>
						{{/allPossibleCategories}}
					</nav>
				</div>
			</div>

			<!-- Tab Content -->
			<div class="col-lg-10 col-12">
				<div class="tab-content" id="nav-tabContent">
					<div class="tab-pane fade show active" id='nav-all' role="tabpanel" aria-labelledby='nav-all-tab'
						tabindex={0}>
						<!-- Trending Section -->
						<div class="row mx-3 py-4">
							<div class="anchor" id="trending-section"></div>
							<h5 class="py-3">Trending Plugins</h5>
								{{#plugins}}
									{{#trending}}
										{{> pluginCard}}
									{{/trending}}
								{{/plugins}}
						</div>
						<!-- Recommended Section -->
						<div class="row mx-3 py-4">
							<div class="anchor" id="recommended-section"></div>
							<h5 class="py-3">Recommended Plugins</h5>
								{{#plugins}}
									{{#recommended}}
										{{> pluginCard}}
									{{/recommended}}
								{{/plugins}}
						</div>
						<!-- All Plugins -->
						<div class="row mx-3 py-4">
							<div class="anchor" id="all-plugins-section"></div>
							<h5 class="py-3">All Plugins</h5>
								{{#plugins}}
									{{#all}}
										{{> pluginCard}}
									{{/all}}
								{{/plugins}}
						</div>
					</div>

					<!-- Plugins in categories -->
						{{#allPossibleCategories}}
							<div class="tab-pane fade show" id="nav-{{name}}" role="tabpanel" aria-labelledby="nav-{{name}}-tab" tabindex='0'>
								<div class="row mx-3 py-4">
									{{#plugins}}
										{{> pluginCard}}
									{{/plugins}}
									{{^plugins}}
										<div class="py-5">
											<p class="text-center mb-3"><span class="fa-solid fa-box-open fa-4x text-muted"></span></p>
											<h5 class="text-muted text-center mb-2">Oops... There are no plugins under this category.</h5> 
										</div>
									{{/plugins}}
								</div>
							</div>
						{{/allPossibleCategories}}

				</div>
			</div>
		</div>
	</div>
</main>
</body>

</html>