<!DOCTYPE html>
<html class="plugin-list-page" lang="en">

<head>
	<script>
		window.pageId = 'pluginList';
	</script>
	{{> head-config}}
	<title>Joplin Plugins</title>
	<meta name="description" content="Explore plugins available for the Joplin note taking application."/>

	<script src="{{config.site}}/bundle-pluginListPage.js"></script>
</head>

<body>
{{> navabar}}
<main>
	<div class="container">
		<nav aria-label="breadcrumb" class="breadcrumb-container">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="#tab-all"><i class="fas fa-home"></i> Home</a>
				</li>
				<li id="active-tab-breadcrumb" class="breadcrumb-item active" aria-current="page">All</li>
			</ol>
		</nav>
		<div class="row gy-3">
			<!-- Tab selector -->
			<div class="col-lg-2 px-0">
				<div class="nav-list categry-nav">
					<h2>Categories</h2>
					<nav class="nav nav-pills" id="nav-tab" role="tablist">
						<a
							class="nav-link active"
							id="nav-all-tab"
							data-bs-target="#nav-all"
							type="button"
							role="tab"
							aria-controls="nav-all"
							aria-selected="false"
							href="#tab-all"
						>
							All
						</a>
						{{#allPossibleCategories}}
							<a
								class="nav-link"
								id="nav-{{name}}-tab"
								data-bs-target="#nav-{{name}}"
								type="button"
								role="tab"
								aria-controls="nav-{{name}}"
								aria-selected="false"
								href="#tab-{{name}}"
							>
								{{displayName}}
							</a>
						{{/allPossibleCategories}}
					</nav>
				</div>
			</div>

			<!-- Tab Content -->
			<div class="col-lg-10 col-12 px-0">
				<div class="tab-content" id="nav-tabContent">
					<div
						class="tab-pane fade show active"
						data-tab-name="all"
						id="nav-all"
						role="tabpanel"
						aria-labelledby="nav-all-tab"
						tabindex="0"
					>
						<!-- Trending Section -->
						<div class="plugin-section main-section most-popular-section">
							<div class="highlighted-heading heading">
								<h3 id="popular">Most popular</h3>
								<div class="subhead">Top downloaded plugins</div>
							</div>
							<div class="content">
								{{#plugins}}
									{{#trending}}
										{{> pluginCard}}
									{{/trending}}
								{{/plugins}}
							</div>
						</div>
						<!-- Recommended Section -->
						<div class="plugin-section main-section">
							<div class="highlighted-heading heading">
								<h3 id="recommended-section">Recommended plugins</h3>
							</div>
							<div class="content">
								{{#plugins}}
									{{#recommended}}
										{{> pluginCard}}
									{{/recommended}}
								{{/plugins}}
							</div>
						</div>
						<!-- All Plugins -->
						<div class="plugin-section main-section">
							<div class="highlighted-heading heading">
								<h3 id="all-plugins-section">All plugins</h3>
							</div>
							<div class="content">
								{{#plugins}}
									{{#all}}
										{{> pluginCard}}
									{{/all}}
								{{/plugins}}
							</div>
						</div>
					</div>

					<!-- Plugins in categories -->
					{{#allPossibleCategories}}
						<div
							class="tab-pane"
							id="nav-{{name}}"
							role="tabpanel"
							data-tab-name="{{name}}"
							aria-labelledby="nav-{{name}}-tab"
							tabindex='0'
						>
							<div class="plugin-section main-section">
								<div class="highlighted-heading heading">
									<h3>{{displayName}}</h3>
								</div>
								<div class="content">
									{{#plugins}}
										{{> pluginCard}}
									{{/plugins}}
									{{^plugins}}
										<div class="py-5">
											<p class="text-center mb-3"><span class="fa-solid fa-box-open fa-4x text-muted"></span></p>
											<h5 class="text-muted text-center mb-2">Oops... There are no plugins under this category.</h5> 
										</div>
									{{/plugins}}
								</div>
							</div>
						</div>
					{{/allPossibleCategories}}

					{{> page-footer}}
				</div>
			</div>
		</div>
	</div>
</main>

</body>

</html>