<!DOCTYPE html>
<html class="legal-notice" lang="en">

<head>
	{{> head-config}}
	<title>Joplin Plugins - Privacy Policy</title>
</head>

<body>
{{> navabar}}
<main>
	<div class="container">
		<nav aria-label="breadcrumb" class="breadcrumb-container">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="{{config.site}}"><i class="fas fa-home"></i> Home</a>
				</li>
				<li class="breadcrumb-item active" aria-current="page">Privacy Policy</li>
			</ol>
		</nav>
		<div class="main-section" data--is-rendered-markdown>
			{{#renderMarkdown}}
<h1 align="center">Joplin Plugins Privacy Policy</h1>

## Who are we?

The Joplin Plugins website is owned by Joplin, registered at 3 Place Simone Veil, CS 20739 54064 Nancy, France. SIREN: RCS Nancy 919 395 087


## What information do we collect?

We do not collect any information.


## Plugin sub-pages

Plugin authors can choose to include external images in a plugin's subpage of this website, which may allow third parties to access your IP or certain cookies depending on your browser settings.
			{{/renderMarkdown}}
		</div>

		{{> page-footer}}
	</div>
</main>

</body>

</html>