<!DOCTYPE html>
<html class="plugin-list-page" lang="en">

<head>
	<script>
		window.pageId = 'homePage';
	</script>
	{{> head-config}}
	<title>Joplin Plugins - Privacy Policy</title>
	<meta name="description" content="Explore plugins available for the Joplin note taking application."/>
</head>

<body>
{{> navabar}}
<main>
	<div class="container">
		<nav aria-label="breadcrumb" class="breadcrumb-container">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="{{config.site}}"><i class="fas fa-home"></i> Home</a>
				</li>
				<li class="breadcrumb-item active" aria-current="page">Privacy Policy</li>
			</ol>
		</nav>
		<div class="main-section">
			<h1>Privacy policy</h1>
			<div class="alert alert-danger" role="alert">
				<b>Warning!</b> This privacy policy is a <u>placeholder</u>. It will likely be
				modified or replaced before this website is finalized.
			</div>
			<h2>This website</h2>
			<p>
				The <a href="{{config.site}}">Joplin Plugin website</a> doesn't directly track or
				store information about its users. Subpages for individual plugins, however, might.
			</p>
			<p>
				Plugin authors can choose to include external images in a plugin's subpage of this
				website. Most browsers will automatically fetch and display these external images.
			</p>
			<p>
				This may allow plugin authors and other third parties to access:
			</p>
			<ul>
				<li>
					Your computer's IP address. Depending on how your computer is connected to the
					internet, this can be used to determine your approximate location.
				</li>
				<li>
					HTTP cookies stored by the server the image is stored on.
					Depending on your browser connection,
					fetching an external image allows that image's server to store and retrieve
					<a href="https://en.wikipedia.org/wiki/HTTP_cookie">HTTP cookies</a>.
				</li>
			</ul>
			<h2>Plugins</h2>
			<p>
				Most plugins are created by 3rd-party developers. The Joplin team does not review
				3rd-party plugins. When installed, these plugins are given <b>full access to Joplin</b>
				&mdash; whatever Joplin can access, your installed plugins can access.
			</p>
			<p>
				When installing plugins, be sure that you trust the developer.
			</p>
		</div>

		{{> page-footer}}
	</div>
</main>

</body>

</html>