<!DOCTYPE html>
<html lang="en">

<head>
	<script>
		window.pageId = 'view-source';
	</script>
	{{> head-config}}
	<title>Joplin Plugins - View Source</title>

	<script src="{{config.site}}/bundle-viewSourcePage.js"></script>
</head>

<body>
{{> navabar}}
<main>
	<div class="container">
		<nav aria-label="breadcrumb" class="breadcrumb-container">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="{{config.site}}"><i class="fas fa-home"></i> Home</a>
				</li>
				<li class="breadcrumb-item"><a id="current-category-nav-link" href="{{config.site}}/">All</a></li>
				<li class="breadcrumb-item"><a id="current-plugin-nav-link"></a></li>
				<li class="breadcrumb-item active" aria-current="page">Source</li>
			</ol>
		</nav>
		<div class="row main-section">
			<h1>View source</h1>
			<p id="plugin-info"></p>
			<div id="view-source-output">
				<div id="loading-message">
					<i class="fa-solid fa-hourglass"></i> Loading...
				</div>
				<ul id="files-nav" class="files-nav nav nav-pills"></ul>
				<div class="source-view">
					<div>
						<label for="pretty-print-checkbox">
							<i class="fa-solid fa-code"></i> Pretty print
						</label>
						<input type="checkbox" id="pretty-print-checkbox" checked/>
					</div>
					<pre id="source-view"></pre>
				</div>
			</div>
		</div>
	</div>
</main>
		
</body>

</html>

