<!DOCTYPE html>
<html lang="en">

<head>
	{{> head-config}}
	<title>Joplin Plugins - View Source</title>

	<script src="{{config.site}}/bundle-viewSourcePage.js"></script>
</head>

<body>
{{> navabar}}
<main>
	<div class="container">
		<nav aria-label="breadcrumb" class="breadcrumb-container">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="{{config.site}}"><i class="fas fa-home"></i> Home</a>
				</li>
				<li class="breadcrumb-item"><a id="current-category-nav-link" href="{{config.site}}/">All</a></li>
				<li class="breadcrumb-item"><a id="current-plugin-nav-link"></a></li>
				<li class="breadcrumb-item active" aria-current="page">Source</li>
			</ol>
		</nav>
		<div class="row main-section">
			<h1>View source</h1>
			<p class="plugin-info">
				<code class="plugin-id"></code> v<span class="plugin-version"></span> <span class="plugin-npm-link"></span>
			</p>
			<div class="alert alert-info alert-dismissible fade show">
				<i class="fa-solid fa-circle-info"></i>
				<strong>Note:</strong> The below source viewer shows the contents of
				<span class="plugin-name">plugin</span>'s <a class="plugin-jpl-link">published JPL file</a> &mdash;
				the bundled (and possibly minified) files that would be downloaded and run after adding
				this plugin to Joplin.

				<button class="btn-close" aria-label="Close" data-bs-dismiss="alert">
				</button>
			</div>
			<div id="view-source-output">
				<div id="loading-message">
					<i class="fa-solid fa-hourglass"></i> Loading...
				</div>
				<ul id="files-nav" class="files-nav nav nav-pills"></ul>
				<div class="source-view-container">
					<div id="source-view"></div>
					<div>
						<label for="pretty-print-checkbox">
							<i class="fa-solid fa-code"></i> Pretty print
						</label>
						<input type="checkbox" id="pretty-print-checkbox" checked/>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>

{{> page-footer}}

</body>

</html>

