<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top shadow">
	<div class="container">
		<a class="navbar-brand" href="{{&config.site}}">
			{{! A wide logo, for large screens }}
			<img src="{{&config.site}}/joplin-logo-large.png" class="d-none d-sm-block" alt="Home"/>

			{{! A smaller logo, for smaller screens }}
			<img src="{{&config.site}}/joplin-logo.png" class="d-block d-sm-none" alt="Home"/>
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="{{&config.site}}/#popular" onclick="openTab('all')">Popular</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{&config.site}}/#recommended-section" onclick="openTab('all')">Recommended</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{&config.site}}/#all-plugins-section" onclick="openTab('all')">All Plugins</a>
				</li>
			</ul>
			<div class="search-field col-12 col-lg-3 mb-3 mb-lg-0 me-lg-3">
				<i class="fa-solid fa-magnifying-glass search-icon" alt=""></i>
				<input
					type="search"
					class="form-control search-input"
					placeholder="Search..."
					id="search-input"/>
				<div class="search-results" id="search-results-container" aria-live="polite"></div>
			</div>
		</div>
	</div>
</nav>
<script>
	function openTab(tab) {
		if(tab === 'all'){
			const triggerFirstTabEleList = document.querySelectorAll('#nav-tab :first-child')
			for (let i = 0; i < triggerFirstTabEleList.length; i++) {
				bootstrap.Tab.getInstance(triggerFirstTabEleList[i]).show() // Select All Tab
			}
		}
	}
</script>
