<footer class="page-footer">
	<div class="plugin-documentation-section">
		<div class="heading">
			Would you like to submit or develop a plugin? Consult our documentation:
		</div>
		<a class="btn btn-outline-primary" href="https://joplinapp.org/help/api/get_started/plugins">
			See documentation
		</a>
	</div>

	<div class="legal-and-about-links">
		<div class="copyright">© Joplin 2023</div>
		<a class="terms-and-conditions" href="{{config.site}}/terms-and-conditions.html">Terms and conditions</a>
		<a class="privacy-policy" href="{{config.site}}/privacy-policy.html">Privacy policy</a>
	</div>


	<div class="site-links">
		<a
			class="a-github"
			href="https://github.com/joplin/website-plugin-discovery"
			aria-label="GitHub"
			title="GitHub"
		>
			<i class="fab fa-github"></i>
		</a>
		<a
			class="a-discord"
			href="https://discord.com/invite/VSj7AFHvpq"
			aria-label="Discord"
			title="Discord"
		>
			<i class="fab fa-discord"></i>
		</a>
		<a
			class="a-linkedin"
			href="https://www.linkedin.com/company/joplin"
			aria-label="LinkedIn"
			title="LinkedIn"
		>
			<i class="fab fa-linkedin"></i>
		</a>
		<a
			class="a-twitter"
			href="https://twitter.com/joplinapp"
			aria-label="Twitter"
			title="Twitter"
		>
			<i class="fab fa-twitter"></i>
		</a>
		<a
			class="a-mastodon"
			href="https://mastodon.social/@joplinapp"
			aria-label="Mastodon"
			title="Mastodon"
		>
			<i class="fab fa-mastodon"></i>
		</a>
		<a
			class="a-patreon"
			href="https://www.patreon.com/joplin"
			aria-label="Patreon"
			title="Patreon"
		>
			<i class="fab fa-patreon"></i>
		</a>
	</div>
</footer>
