<footer class="page-footer row">
	<div class="plugin-documentation-section">
		<div class="heading">
			Would you like to submit or develop a plugin? Consult our documentation:
		</div>
		<a class="btn btn-outline-primary" href="https://joplinapp.org/api/overview/#plugin-api">
			See documentation
		</a>
	</div>

	<div class="site-links">
		<a
			class="a-github"
			href="https://github.com/joplin/website-plugin-discovery"
			aria-label="GitHub"
			title="GitHub"
		>
			<i class="fab fa-github"></i>
		</a>
		<a
			class="a-discord"
			href="https://discord.com/invite/VSj7AFHvpq"
			aria-label="Discord"
			title="Discord"
		>
			<i class="fab fa-discord"></i>
		</a>
		<a
			class="a-linkedin"
			href="https://www.linkedin.com/company/joplin"
			aria-label="LinkedIn"
			title="LinkedIn"
		>
			<i class="fab fa-linkedin"></i>
		</a>
		<a
			class="a-patreon"
			href="https://www.patreon.com/joplin"
			aria-label="Patreon"
			title="Patreon"
		>
			<i class="fab fa-patreon"></i>
		</a>
	</div>
</footer>