<a href="plugin/{{id}}/" id="plugin-card-{{id}}" class="col-md-12 gx-3 mb-3 card plugin-link-card">
	<img src="{{assets.iconUri}}" class="card-img-top plugin-icon {{assets.iconAdditionalClassNames}}" alt=""/>
	<div class="card-body {{domId}}">
		<div class="plugin-header text-wrap">
			<label for="plugin-card-{{id}}" class="plugin-title">
				{{ name }}
			</label>

			{{#_recommended}}
				<span
					class="plugin-recommended-circle"
					aria-label="Recommended"

					data-bs-toggle="tooltip"
					data-bs-title="Recommended: The Joplin team trusts the developer(s) of this plugin."
				><i class="fas fa-crown"></i></span>
			{{/_recommended}}
		</div>

		<p class="plugin-description">
			{{ description }}
		</p>
	</div>
</a>