<a href="plugin/{{id}}" id="plugin-card-{{id}}" class="col-md-12 col-lg-4 gx-3 mb-3 card link-card">
	<img src="{{assets.iconUri}}" class="card-img-top" alt=""/>
	<div class="card-body {{domId}}">
		<h5 class="wrap pb-2">
			<label for="plugin-card-{{id}}" class="plugin-title">
				{{ name }}
			</label>
		</h5>
		<div class="pb-2">
		{{#_recommended}}
			<span class="plugin-recommended me-2 badge text-black">Recommended</span>
		{{/_recommended}}
		{{#categories}}
			<span class="plugin-category me-2 badge bg-secondary">{{.}}</span>
		{{/categories}}
		</div>

		<p class="plugin-description">
			{{ description }}
		</p>
	</div>
</a>