<div class="plugin-documentation-section main-section">
	<div class="heading">
		Would you like to submit or develop a plugin? Consult our documentation:
	</div>
	<a class="btn btn-outline-primary" href="https://joplinapp.org/api/overview/#plugin-api">
		See documentation
	</a>
</div>