.plugin-link-card {
	display: flex;

	text-decoration: none;
	padding-left: 0;
	padding-right: 0;
	cursor: pointer;

	@include color-mode(dark) {
		background-color: #303030;
	}

	word-break: break-word;

	label {
		cursor: pointer;
		display: inline;
	}

	.card-img-top {
		aspect-ratio: 1.5;
		object-fit: cover;
	}

	$margin-x: 10px;
	margin-right: $margin-x;

	@include media-breakpoint-down(sm) {
		display: flex;
		flex-direction: row;

		.card-img-top {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
			border-bottom-left-radius: var(--bs-card-border-radius);
			width: 80px;
			height: 100%;
			max-height: 100%;
		}
	}

	// Note: When changing these breakpoints, ensure that styles in the main
	// page (plugin list page) that rely on some number of cards per row are not broken.
	--width-percent: 100%;
	@include media-breakpoint-up(sm) {
		--width-percent: 50%;
	}

	@include media-breakpoint-up(lg) {
		--width-percent: 33%;
	}

	@include media-breakpoint-up(xl) {
		--width-percent: 25%;
	}

	width: calc(var(--width-percent) - $margin-x);

	.plugin-header {
		display: flex;
		flex-direction: row;
		justify-content: center;

		label {
			font-size: 1em;
			font-weight: bold;
			flex-grow: 1;

			margin-bottom: 0.4em;
		}
	}
}
