.plugin-link-card {
	display: block;

	text-decoration: none;
	padding-left: 0;
	padding-right: 0;
	cursor: pointer;

	label {
		cursor: pointer;
		display: inline;
	}

	.card-img-top {
		max-height: 128px;
		object-fit: cover;
	}

	$margin-x: 10px;
	--width-percent: 50%;
	margin-right: $margin-x;

	@include media-breakpoint-down(sm) {
		--width-percent: 100%;
	}

	@include media-breakpoint-up(lg) {
		--width-percent: 33%;
	}

	@include media-breakpoint-up(xl) {
		--width-percent: 25%;
	}

	width: calc(var(--width-percent) - $margin-x);
}
